<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Pokój</title>
   <link rel="stylesheet" href="assets/styles/css.css">
   <link rel="stylesheet" href="assets/styles/room.css">
   <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
</head>

<body>
   <header></header>
   <aside>
      <section id="scoring">
         <div id="scoring-title">Twoja drużyna otrzyma punkty za:</div>
         <div id="scoring-sentence" class="scoring-list">Odszyfrowanie hasła - 1 punkt</div>
         <div id="scoring-time" class="scoring-list">Ukończenie zadanie poniżej 5 minut - 1 punkt</div>
         <div id="scoring-error" class="scoring-list">Brak jakichkolwiek błędów - 1 punkt</div>
      </section>

   </aside>
   <main></main>
   <aside>
      <section id="translation-table">
         <div id="translation-cover" class="hidden"></div>

      </section>
   </aside>
   <footer></footer>
   <script type="module" src="assets/modules/room.js"></script>
</body>

</html>