<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <title>Sender</title>
   <link href="./room.css" rel="stylesheet">
</head>

<body>
   <header></header>
   <aside></aside>
   <main></main>
   <aside></aside>
   <footer></footer>
   <script src="./room.js" type="module"></script>
   <script src="./roomSender.js" type="module"></script>
</body>

</html>