:root {
   --radius: 0.4rem;

   --background: black;
   --border: grey;
   --border-light: white;
   --foreground-light: white;
   --foreground-dark: black;
   --primary: rgb(207, 207, 207);
   --secondary: rgb(163, 163, 163);
   --surface: rgb(77, 77, 77);
   --green: rgb(0, 112, 0);
   --red: rgb(168, 0, 0);
   --grey: grey;
   --orange: orange;
}